<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            font-family: arial,helvetica;
        }
        strong{
           color:darkorchid;
           padding-left:7px; 
        }
    </style>
    <title>cadastro</title>
</head>
<body>
    <h1>cadastro efetuado com sucesso!</h1>
    <p>Nome do usuário:<strong> <%= dados.nome %></strong></p>
    <p>Email: <strong><%= dados.email %></strong></p>

</body>
</html>